@media (prefers-color-scheme: dark) {
  svg.main-svg {
    fill: #0e1117 !important; /* example for SVG shapes */
  }

  .bg {
    background-color: #0e1117; /* example for a background */
  }

  .legendtext {
    color: whitesmoke
  }

  .ytick text {
    fill: whitesmoke !important
  }
}